.pizzaShop {
    width: 1200px;
    height: 800px;
    position: absolute;
    background-image: url('background.jpg');
    background-size: 1200px 800px;
}

#cashRegister {
    position: relative;
    height: 250px;
    width: 225px;
    left: 200px;
    bottom: 50px;
    margin-top: 600px;
}

#closedFridge {
    position: relative;
    height: 300px;
    width: 175px;
    bottom: 100px;
    left: 800px;
}

#pickupCounter {
    position: relative;
    left: 0px;
    bottom: 300px;
    height: 150px;
    width: 150px;
}

#pizzaBox {
    position: relative;
    left: 10px;
    bottom: 615px;
    height: 60px;
    width: 150px;
}

#chef {
    position: relative;
    left: -455px;
    bottom: 105px;
    height: 250px;
    width: 250px;
}

#chef2 {
    position: relative;
    bottom: 600px;
    left: 850px;
}

.freezerToOven {
    animation-name: run;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes run {
    from {
        bottom: 600px;
        left: 850px;
    }
    to {
        bottom: 300px;
        left: 850px;
    }
}

.bakeToBox {
    animation-name: run2;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

@keyframes run2 {
    from {
        bottom: 600px;
        left: 850px;
    }
    to {
        bottom: 550px;
        left: 500px;
    }
}


#oven {
    position: relative;
    left: 400px;
    bottom: 400px;
    height: 200px;
    width: 200px;
    transform: scaleX(-1);
}

#customer {
    height: 200px;
    width: 150px;
}
.firstSpot {
    position: relative;
    left: -200px;
    bottom: 350px;
}

.customerOrder {
    animation-name: customer;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes customer {
    from {
        bottom: 350px;
        left: -600px;
    }
    to {
        left: -200px;
        bottom: 350px;
    }
}

.customerPickUp {
    animation-name: customer2;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes customer2 {
    from {
        left: -200px;
        bottom: 350px;
    }
    to {
        bottom: 550px;
        left: 0px;
    }
    50% {
        left: -200px;
        bottom: 550px;
    }
}

.takeOut {
    animation-name: customer3;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes customer3 {
    from {
        left: 0px;
        bottom: 550px;
    }
    to {
        bottom: 350px;
        left: -800px;
    }
}

.newSpot {
    bottom: 350px;
    left: -600px;
    position: relative;
}

.paused {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}